{% extends 'base.html.twig' %}

{% block title %}Geopol{% endblock %}

{% block body %}
    <h1>Vos informations personnelles</h1>
    <table>
        <tr>
            <th>Nom</th>
            <td>{{ nom }}</td>
        </tr>
        <tr>
            <th>Prénom</th>
            <td>{{ prenom }}</td>
        </tr>
        <tr>
            <th>Congés acquis</th>
            <td>{{ conges }}</td>
        </tr>
    </table>
{% endblock %}
